* {
	margin: 0;
	padding: 0;
}

/* hide from Mac IE5 \*/
* html #container {
	height: 1%;
}
/* END hide from Mac IE5 */

body {
	background: #FFF; 
	text-align: center;
/*	font-size: 62.5%; */
	margin: 0;
	padding: 0;
}


div#main {
	width: 806px;
  	margin: auto;
  	text-align: left;
  	position: relative;
}

#imageloc {
	left: 0px;
	top: 133px;
	position: absolute;
}

#menu {
	left: 30px;
	top: 190px;
	position: absolute;
}

.menutext {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 18pt;
	color: #000;
}


.youarehere {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 12pt;
	text-decoration: underline;
	color: #000;
}

#menubar {
	top: 0px; 
	position: absolute; 
	z-index: 10000;
	}
	
	
ul#navbartext {
	width: 166px;
}

ul#navbartext li {
  list-style: none;
/*  background-color: #FFF; */
  color: #000;
  text-align: left;
  margin: 0;
}

ul#navbartext li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 1px;
}

a:hover, a:active { color: #000000; } 
a:hover { background-color: #FFF; }
/*ul#navbarlist li#youarehere a { background-color: #F9A05D; padding: 8px;}
 p a:link, p a:visited, p a:hover { color: blue; background-color: #FFF;} */

#navbartext li:hover ul {
	left: auto;
}


#nav, #nav ul { /* all lists */
		padding: 0;
		margin: 0;
/*		background: #FFF; */
		width: 165px; 
		list-style: none;
		float: left;
	}
	
#nav li { /* all list items */
		position : relative;
		float : left;
		margin-bottom : -1px;
	}
	
#nav li ul { /* second-level lists */
		position : absolute;
		left: -999em;
		margin-left: 166px;
		margin-top : -40px;
		border: 0px;
		display: block;
	}
	
#nav li ul a { /* second-level lists */
		display: block;
	width: 175px;
	w\idth: 175px;
	color: #000;
/*	background: #FFF;  */
	text-decoration: none;
	text-align: left;
  	padding: 1px 0 1px 1px;
}
	
#nav li a {
	display: block;
	width: 165px;
	w\idth: 165px;
	color: #000;
	text-decoration: none;
  	padding: 1px 0 1px 0px;
	}
	
#nav li a:hover {
		color : #FFF;
		background-color : #000;
	}
	
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
		left: -999em;
	}
	
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
	}


#rssloc  {
	left: 525px;
	top: 530px;
	position: absolute;
}

.feedtext {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: left;
	padding-left: 10px;
	padding-right: 5px;
	background: #fbf5df;
	color: #000;
	text-decoration: none;
}

.feeddate  {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 8.5pt;
	text-align: left;
}

#botloc  {
	left: -60px;
	padding-top: 40px;
	position: absolute;
}

#botloccareers  {
//	left: -60px;
//	top: 50px;
//	height: 0px;
//	position: relative;
	top:1350px;
	position: absolute;
}

#copyloc  {
	right: 25px;
	margin-top: -20px;
	width: 400px;
	position: absolute;
}

#contactloc  {
	right: 25px;
	top: 115px;
	width: 400px;
	position: absolute;
}

.smalltext {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #cbdae9;
	text-align: right;
}

.emailcolor {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #cbdae9;
	text-decoration: none;
}

.emailcolor2 {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #000;
	text-decoration: none;
}

#hometextloc  {
	left: 60px;
	top: 530px;
	position: absolute;
}

.header {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 16pt;
	color: #303474;
	font-weight: bold;
}

.subheads {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 13pt;
	color: #000000;
}

.subheads2 {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 12pt;
	color: #303474;
	font-weight: bold;
}

.bodycopy {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 11pt;
	width: 350px;
	line-height: 12pt;
	color: #000;
}

.listcopy {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 11pt;
	width: 550px;
	margin-left: 30px;
	margin-bottom: 3px;
	line-height: 16pt;
	color: #000;
}

.listpara {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 10pt;
	width: 550px;
	line-height: 12pt;
	color: #000;
}

.bodycopy2 {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 11pt;
	width: 550px;
	margin-left: 20px;
	line-height: 12pt;
	color: #000;
}

.tname {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 9pt;
	width: 550px;
	font-style: italic;
	text-align: right;
	color: #000;
}

#crheader {
	left: 60px;
	top: 500px;
	position: absolute;
}

#formloc {
	left: 75px;
	top: 635px;
	position: absolute;
}


#tablesize {
	table-layout: fixed;
	width: 650px;
	}
	
.formtext {
	font-family: Arial, Verdana, Tahoma, "Lucinda Grande", Geneva, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000;
}

.reqtext {
	color: red;
}